@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

.image {
    width: 150vh;
    margin: auto;
    margin-top: 10vh;
}

img {
    width: 100%;
}

.text {
    text-align: center;
    width: 150vh;
    margin: auto;
}

h1 {
    font-family: 'Cookie', sans-serif;
    font-weight: 500;
    font-size: 10vh;
}

.btn {
    transition: all 400ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}
