@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

.colour {
    font-size: 15px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
}

.image {
    width: 150vh;
    margin: auto;
    margin-top: 10vh;
}

img {
    width: 100%;
}

.text {
    text-align: center;
    width: 150vh;
    margin: auto;
}

.wel {
    font-family: 'Cookie', sans-serif;
    font-weight: 500;
    font-size: 10vh;
}

.btn {
    transition: all 400ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.well {
    font-family: "Cookie", sans-serif;
    font-weight: 500;
    font-size: 10vh;
    text-align: center;
    padding-top: 5vh;
    margin-bottom: 5vh;
}

.post-btn {
    margin-left: 15vw;
}

.caption {
    font-weight: 600;
}

.content {
    color: black;
}